<!DOCTYPE html>
<html lang="de" dir="ltr">
    <head>
        <link href="./style.css" rel="stylesheet">
    </head>

    <body>
        <section class='container'>
            <header>
                <nav>
                    <ul class="navbar">
                        <li>
                            <a href="wgbewerbung.html">Bewerbung</a>
                        </li>
                        <li class="current">
                            <a href="info.html">So siehts aus</a>
                        </li>
                        <li class="last">
                            <a href="putzplan.html">Putzplan</a>
                        </li>
                    </ul>
                </nav>
                <h1>
                    Infos über die WG
                </h1>
            </header>
        </section>
        <article class="text">
            <h2 class="subtopic">Wer wir sind:</h2>
            <p>Zurzeit wohnen Thomas, Justus und Tjark in der WG.</p>
        </article>


        <div class="gallery">
            <a target="_blank" href="wgfoto/bewerbung1.JPG">
              <img src="wgfoto/bewerbung1.JPG" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Dies ist der Flur</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="wgfoto/bewerbung2.JPG">
              <img src="wgfoto/bewerbung2.JPG" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Eine moderne Dusche</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="wgfoto/bewerbung3.JPG">
              <img src="wgfoto/bewerbung3.JPG" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Jeder hat im Bad ein Fach für sich</div>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="wgfoto/bewerbung4.JPG">
              <img src="wgfoto/bewerbung4.JPG" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Die Küche mit Spülmaschine</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="wgfoto/bewerbung5.JPG">
              <img src="wgfoto/bewerbung5.JPG" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Und die andere Seite mit zwei Kühlschränken und einem Induktionsherd</div>
          </div>

          <div class="gallery">
            <a target="_blank" href="wgfoto/bewerbungbackground.png">
              <img src="wgfoto/bewerbungbackground.png" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Der Grundriss. Zimmer 4 wäre zurzeit zu vermieten</div>
          </div>
        
    </body>
   
</html>